<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
	<meta charset="UTF-8">
	<title>Autumen_Ning's Blog</title>
	<link rel="shortcut icon " href="/images/avator.ico">
	<link rel="stylesheet" href="/stylesheets/common/common.css">
	<link rel="stylesheet" href="/stylesheets/common/reset.css">
</head>
<body>
	<div class="header">
		<ul class="nav clear admin">
			<img src="/images/avator.jpg" alt="">
			<li class="first_nav"><a href="/">Home</a></li>
			<li><a href="/admin/blog">Blogs</a></li>
			<li><a href="/admin/postImg">Post Img</a></li>
			<li><a href="/admin/postArticle">Post Article</a></li>
			<li><a href="/admin/logout">Logout</a></li>
		</ul>
	</div>
	<div class="admin container" ng-controller="adminBlogsCtrl">
		<div class="mod_archive_item" ng-repeat="blogList in blogLists">
			<div class="mod_archive_year" ng-bind="blogList[0].year"></div>
			<ul class="mod_archive_list">
				<li ng-repeat="blogInfo in blogList"><span class="triangle"></span><span class="time" ng-bind="blogInfo.time"></span> — <a ng-href="/blog/getOneArticle?id={{blogInfo._id}}" ng-bind="blogInfo.title"></a><a ng-href="/admin/modify?id={{blogInfo._id}}" style="margin-left:4px;font-size:18px;color:blue;">修改</a><a ng-href="/blog/delete?id={{blogInfo._id}}" style="margin-left:4px;font-size:18px;color:red;">删除</a></li>
			</ul>
		</div>
	</div>
	<div class="footer">
		<p> Copyright ©2016 Crazy uncle Powered by <a href="https://github.com/wangning0">Autumn_Ning</a></p>
	</div>
	<script type="text/javascript" src="/javascripts/lib/angular.js"></script>
	<script type="text/javascript" src="/javascripts/page/controllers/admin_blog.js"></script>
</body>
</html>