<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Autumen_Ning's Blog</title>
	<link rel="shortcut icon " href="/images/avator.ico">
	<link rel="stylesheet" href="/stylesheets/common/common.css">
	<link rel="stylesheet" href="/stylesheets/common/reset.css">
	<link rel="stylesheet" href="/stylesheets/page/login.css">
</head>
<body>
	<div class="login_container">
		<form action="/" method="post">
			<input type="text" name="user" placeholder="用户名">
			<input type="password" name="password" placeholder="密码">
			<input type="submit">
		</form>
	</div>
</body>
</html>