<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Autumen_Ning's Blog</title>
	<link rel="shortcut icon " href="/images/avator.ico">
	<link rel="stylesheet" href="/stylesheets/common/common.css">
	<link rel="stylesheet" href="/stylesheets/common/reset.css">
	<link rel="stylesheet" href="/stylesheets/page/postImg.css">
</head>
<body>
	<iframe name="newWindow" id="newWindow" style="display:none;"></iframe>
	<div class="header">
		<ul class="nav clear admin">
			<img src="/images/avator.jpg" alt="">
			<li class="first_nav"><a href="/">Home</a></li>
			<li><a href="/admin/blog">Blogs</a></li>
			<li><a href="/admin/postImg">Post Img</a></li>
			<li><a href="/admin/postArticle">Post Article</a></li>
			<li><a href="/admin/logout">Logout</a></li>
		</ul>
	</div>
	<div class="container">
		<div class="mod_archive_item">
			<form class="admin_post" id="myForm" action="/admin/uploadImg" method="POST" enctype="multipart/form-data" target="newWindow">
				<div class="uploadImg">
					<input type="file" name="file" class="uploadFile">
				</div>
				<p>请选择图片</p>
			</form>
		</div>
	</div>
	<div class="footer">
		<p> Copyright ©2016 Crazy uncle Powered by <a href="https://github.com/wangning0">Autumn_Ning</a></p>
	</div>
	<script src="/javascripts/page/admin_postImg.js"></script>
</body>
</html>