<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Autumen_Ning's Blog</title>
	<link rel="shortcut icon " href="/images/avator.ico">
	<link rel="stylesheet" href="/stylesheets/common/common.css">
	<link rel="stylesheet" href="/stylesheets/common/reset.css">
</head>
<body>
	<div class="header">
		<ul class="nav clear">
			<img src="/images/avator.jpg" alt="">
			<li class="first_nav"><a href="/">Home</a></li>
			<li><a href="/blog">Blog</a></li>
			<li><a href="/coding">Coding</a></li>
			<li><a href="/life" >Life</a></li>
			<li><a href="/links">Links</a></li>
			<li><a href="/about" >About</a></li>
			<li class="last_nav"><a href="https://github.com/wangning0">GitHub</a></li>
		</ul>
	</div>
	<div class="container" ng-controller="lifeCtrl">
		<div class="mod_archive_item">
			<div class="mod_archive_des">About</div>
			<p style="font-size:19px;letter-spacing:1px;">嗨，我是Autumn_Ning,我是一名Web前端/NodeJs爱好者,目前在UESTC就读计算机科学与工程学院,喜欢接触各种新鲜玩意,是一名不折不扣的Coding Lover!(啊,我可不是死宅程序‘猿’啊～)</p>
			<br>
			<h2><strong>嗯，说说自己搭建Blog的原因吧~</strong></h2>
			<p style="font-size:19px;letter-spacing:1px;">        最重要的原因当然就是提高自己的逼格拉!顺便<strong>提高自己的能力</strong>哈哈,其实吧从接触编程到现在,经常做的事情就是看一些大神们的博客,学到了很多知识(涨姿势了),所以一直都在想啊,未来自己一定要自己也弄一个,在自己的Blog写上自己的一些<strong>学习心得</strong>和<strong>生活上的感悟</strong>,当然最希望的就是能够给大家帮助啦,这也算是自己成长的一个见证吧～</p>
			<br>
			<p style="font-size:19px;letter-spacing:1px;">如果你看到了这篇小短文,也对编程十分感兴趣,可以多交流交流哦~未来的路上一起共勉</p>
			<br>
			<p style="font-size:19px;letter-spacing:1px;">本博客的源代码已经托管了在<a href="https://github.com/wangning0/Autumn_Ning_Blog">GitHub</a>上～希望大家可以提出宝贵建议和互相交流</p>
			<br>
			<p style="font-size:15px;letter-spacing:1px;">Email地址呈上:172234437wn@gmail.com 有空多交流～嘿嘿</p>
		</div>
	</div>
	<div class="footer">
		<p> Copyright ©2016 Crazy uncle Powered by <a href="https://github.com/wangning0">Autumn_Ning</a></p>
	</div>
	<script type="text/javascript" src="/javascripts/lib/angular.js"></script>
	<script type="text/javascript" src="/javascripts/page/controllers/life.js"></script>
</body>
</html>