<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
	<meta charset="UTF-8">
	<title>Autumen_Ning's Blog</title>
	<link rel="shortcut icon " href="/images/avator.ico">
	<link rel="stylesheet" href="/stylesheets/common/common.css">
	<link rel="stylesheet" href="/stylesheets/common/reset.css">
	<link rel="stylesheet" href="/stylesheets/page/blog.css">
</head>
<body>
	<div class="header">
		<ul class="nav clear">
			<img src="/images/avator.jpg" alt="">
			<li class="first_nav"><a href="/">Home</a></li>
			<li><a href="/blog">Blog</a></li>
			<li><a href="/coding">Coding</a></li>
			<li><a href="/life" >Life</a></li>
			<li><a href="/links">Links</a></li>
			<li><a href="/about" >About</a></li>
			<li class="last_nav"><a href="https://github.com/wangning0">GitHub</a></li>
		</ul>
	</div>
	<div class="container" ng-controller="blogCtrl">
		<div class="mod_archive_item">
			<div class="mod_archive_year">2016</div>
			<ul class="mod_archive_list">
				<li><span class="triangle"></span><span class="time">2016-03-05</span> — <a href="#">80后少帅败光山西最大民企，一个经典的接班失败案例</a></li>
				<li><span class="triangle"></span><span class="time">2016-03-05</span> — <a href="#">80后少帅败光山西最大民企，一个经典的接班失败案例</a></li>
				<li><span class="triangle"></span><span class="time">2016-03-05</span> — <a href="#">80后少帅败光山西最大民企，一个经典的接班失败案例</a></li>
				<li><span class="triangle"></span><span class="time">2016-03-05</span> — <a href="#">80后少帅败光山西最大民企，一个经典的接班失败案例</a></li>
			</ul>
		</div>
		<div class="mod_archive_item">
			<div class="mod_archive_year">2015</div>
			<ul class="mod_archive_list">
				<li><span class="triangle"></span><span class="time">2016-03-05</span> — <a href="#">80后少帅败光山西最大民企，一个经典的接班失败案例</a></li>
				<li><span class="triangle"></span><span class="time">2016-03-05</span> — <a href="#">80后少帅败光山西最大民企，一个经典的接班失败案例</a></li>
				<li><span class="triangle"></span><span class="time">2016-03-05</span> — <a href="#">80后少帅败光山西最大民企，一个经典的接班失败案例</a></li>
				<li><span class="triangle"></span><span class="time">2016-03-05</span> — <a href="#">80后少帅败光山西最大民企，一个经典的接班失败案例</a></li>
			</ul>
		</div>
		<div class="mod_archive_item">
			<div class="mod_archive_year">2014</div>
			<ul class="mod_archive_list">
				<li><span class="triangle"></span><span class="time">2016-03-05</span> — <a href="#">80后少帅败光山西最大民企，一个经典的接班失败案例</a></li>
				<li><span class="triangle"></span><span class="time">2016-03-05</span> — <a href="#">80后少帅败光山西最大民企，一个经典的接班失败案例</a></li>
				<li><span class="triangle"></span><span class="time">2016-03-05</span> — <a href="#">80后少帅败光山西最大民企，一个经典的接班失败案例</a></li>
				<li><span class="triangle"></span><span class="time">2016-03-05</span> — <a href="#">80后少帅败光山西最大民企，一个经典的接班失败案例</a></li>
			</ul>
		</div>
	</div>
	<div class="footer">
		<p> Copyright ©2016 Crazy uncle Powered by <a href="https://github.com/wangning0">Autumn_Ning</a></p>
	</div>
	<script type="text/javascript" src="/javascripts/lib/angular.js"></script>
	<script type="text/javascript" src="/javascripts/page/controllers/blog.js"></script>
</body>
</html>