<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="/stylesheets/userIndex.css">
</head>
<body>
	<div class="wrap">
		<div class="nav">
			<ul>
				<li><a>Hello,<%=username%></a></li>
				<li><a href="">主页</a></li>
				<li><a href="/users/post">发表文章</a></li>
				<li><a href="/modifyPassword">修改密码</a></li>
				<li><a href="/logout">退出博客</a></li>
			</ul>
		</div>
		<div class="content-body">