<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
	<meta charset="UTF-8">
	<title>Autumen_Ning's Blog</title>
	<link rel="shortcut icon " href="/images/avator.ico">
	<link rel="stylesheet" href="/stylesheets/common/common.css">
	<link rel="stylesheet" href="/stylesheets/common/reset.css">
</head>
<body>
	<div class="header">
		<ul class="nav clear">
			<img src="/images/avator.jpg" alt="">
			<li class="first_nav"><a href="/">Home</a></li>
			<li><a href="/blog">Blog</a></li>
			<li><a href="/coding">Coding</a></li>
			<li><a href="/life" >Life</a></li>
			<li><a href="/links">Links</a></li>
			<li><a href="/about" >About</a></li>
			<li class="last_nav"><a href="https://github.com/wangning0">GitHub</a></li>
		</ul>
	</div>
	<div class="container" ng-controller="lifeCtrl">
		<div class="mod_archive_item">
			<div class="mod_archive_des">生活</div>
			<ul class="mod_archive_list">
				<li ng-repeat="lifeArticle in lifeArticles"><span class="triangle"></span><span class="time" ng-bind="lifeArticle.time"></span> — <a ng-href="/blog/getOneArticle?id={{lifeArticle._id}}" ng-bind="lifeArticle.title"></a></li>
			</ul>
		</div>
	</div>
	<div class="footer">
		<p> Copyright ©2016 Crazy uncle Powered by <a href="https://github.com/wangning0">Autumn_Ning</a></p>
	</div>
	<script type="text/javascript" src="/javascripts/lib/angular.js"></script>
	<script type="text/javascript" src="/javascripts/page/controllers/life.js"></script>
</body>
</html>