<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Autumen_Ning's Blog</title>
	<link rel="shortcut icon " href="/images/avator.ico">
	<link rel="stylesheet" href="/stylesheets/common/common.css">
	<link rel="stylesheet" href="/stylesheets/common/reset.css">
</head>
<body>
	<div class="header">
		<ul class="nav clear">
			<img src="/images/avator.jpg" alt="">
			<li class="first_nav"><a href="/">Home</a></li>
			<li><a href="/blog">Blog</a></li>
			<li><a href="/coding">Coding</a></li>
			<li><a href="/life" >Life</a></li>
			<li><a href="/links">Links</a></li>
			<li><a href="/about" >About</a></li>
			<li class="last_nav"><a href="https://github.com/wangning0">GitHub</a></li>
		</ul>
	</div>
	<div class="container" ng-controller="codingCtrl">
		<div class="mod_archive_item">
			<div class="mod_archive_des">Links</div>
			<ul class="mod_archive_list">
				<li><span class="triangle"></span><a href="http://www.barretlee.com/" target="blank">小胡子哥</a><span class="link_des">小胡子哥</span></li>
				<li><span class="triangle"></span><a href="http://www.liaoxuefeng.com/" target="blank">廖雪峰</a><span class="link_des">廖雪峰的全栈教程</span></li>
				<li><span class="triangle"></span><a href="http://jikey.cnblogs.com/" target="blank">豪情</a><span class="link_des">豪情大大的博客</span></li>
		</div>
	</div>
	<div class="footer">
		<p> Copyright ©2016 Crazy uncle Powered by <a href="https://github.com/wangning0">Autumn_Ning</a></p>
	</div>
	<script type="text/javascript" src="/javascripts/lib/angular.js"></script>
	<script type="text/javascript" src="/javascripts/page/controllers/coding.js"></script>
</body>
</html>