 <!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>修改密码</title>
	<link rel="stylesheet" href="/stylesheets/bootstrap.css">
	<style>
		body{
			background-color:#A1A1F5;
		}
		.wrap{
			width: 500px;
			margin: 100px auto;
		}
		.header{
			font-size: 30px;
			font-weight: bold;
			text-align: center;
			margin-bottom: 30px;
		}

	</style>
</head>
<body>
	<div class="wrap">
		<p class="header">修改密码</p>
		<form class="form-horizontal" method="POST" action="/modifyPassword">
		  <div class="form-group">
		    <label for="password" class="col-sm-2 control-label">原密码</label>
		    <div class="col-sm-8">
		      <input type="text" name="password" class="form-control" id="password" placeholder="原密码">
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="newPassword" class="col-sm-2 control-label">新密码</label>
		    <div class="col-sm-8">
		      <input type="password" name="newPassword" class="form-control" id="newPassword" placeholder="Password">
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="ReNewPassword" class="col-sm-2 control-label">再输一次</label>
		    <div class="col-sm-8">
		      <input type="password" name="ReNewPassword" class="form-control" id="ReNewPassword" placeholder="Password">
		    </div>
		  </div>
		  <div class="form-group">
		    <div class="col-sm-offset-2 col-sm-10">
		      <button type="submit" class="btn btn-primary">提交</button>
		      
		    </div>
		  </div>
		</form>
	</div>
</body>
</html>