<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>注册</title>
	<link rel="stylesheet" href="/stylesheets/bootstrap.css">
	<style>
		body{
			background-color:#A1A1F5;
		}
		.wrap{
			width: 500px;
			margin: 100px auto;
		}
		.header{
			font-size: 30px;
			font-weight: bold;
			text-align: center;
			margin-bottom: 30px;
		}

	</style>
</head>
<body>
	<div class="wrap">
		<p class="header">注册</p>
		<form class="form-horizontal" method="POST" action="/register">
		  <div class="form-group">
		    <label for="userName" class="col-sm-2 control-label">ID</label>
		    <div class="col-sm-8">
		      <input type="text" name="username" class="form-control" id="userName" placeholder="用户ID">
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="password" class="col-sm-2 control-label">Password</label>
		    <div class="col-sm-8">
		      <input type="password" name="password" class="form-control" id="password" placeholder="Password">
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="repassword" class="col-sm-2 control-label">RePassword</label>
		    <div class="col-sm-8">
		      <input type="password" name="repassword" class="form-control" id="repassword" placeholder="Repeat Password">
		    </div>
		  </div>
		  <div class="form-group">
		    <div class="col-sm-offset-2 col-sm-10">
		      <button type="submit" class="btn btn-primary">Submit</button>
		    </div>
		  </div>
		</form>
	</div>
</body>
</html>