<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
	<meta charset="UTF-8">
	<title>Autumen_Ning's Blog</title>
	<link rel="shortcut icon " href="/images/avator.ico">
	<link rel="stylesheet" href="/stylesheets/common/common.css">
	<link rel="stylesheet" href="/stylesheets/common/reset.css">
</head>
<body>
	<div class="header">
		<ul class="nav clear admin">
			<img src="/images/avator.jpg" alt="">
			<li class="first_nav"><a href="/">Home</a></li>
			<li><a href="/admin/blog">Blogs</a></li>
			<li><a href="/admin/postImg">Post Img</a></li>
			<li><a href="/admin/postArticle">Post Article</a></li>
			<li><a href="/admin/logout">Logout</a></li>
		</ul>
	</div>
	<div class="admin container">
		<div class="mod_archive_item" id="mod_archive_item">
			
		</div>
	</div>
	<div class="footer">
		<p> Copyright ©2016 Crazy uncle Powered by <a href="https://github.com/wangning0">Autumn_Ning</a></p>
	</div>
	<script type="text/javascript" src="/javascripts/page/showArticle.js"></script>
</body>
</html>