.clear{
	zoom:1;
}
.clear:after{
	content: '';
	display: block;
	clear: both;
}
.triangle{
	display: inline-block;
	width: 0px;
	height: 0px;
	border: 5px solid transparent;
	border-left: 5px solid black;
}
/*尾部*/
.footer{
	width: 320px;
	margin: 0 auto;
}
.footer p{
	display: inline-block;
	margin: 0 auto;
	font-size: 12px;
}
.footer p a{
	font-size: 14px;
}

/*头部*/
.header{
	width: 700px;
	margin: 20px auto;
	text-align: center;
	background: ;
}
.header img{
	float: left;
	width: 34px;
	height: 34px;
	border-radius: 17px;
	margin-right: 10px;
	-webkit-transition:all 0.2s ease-in-out;
	-moz-transition:all 0.2s ease-in-out;
	-o-transition:all 0.2s ease-in-out;
}
.header img:hover{
	 -moz-transform:scale(2,2);  
	  -webkit-transform:scale(2,2);  
	  -o-transform:scale(2,2);  
	}
.header .nav{
	width: 540px;
	margin: 0 auto;
}
.header .nav.admin li{
	margin-left: 12px;
}
.header .nav li{
	float: left;
}
.header .nav li a{
	color: #555;
	font-size: 20px;
	display: inline-block;
	text-decoration: underline;
	padding:8px;
	color: black;
	border-radius: 3px;
	-webkit-transition:all 0.5s ease-in-out;
	-moz-transition:all 0.5s ease-in-out;
	cursor: pointer;
}
.header .nav li a:hover{
	color: yellow;
	text-shadow:2px 2px 1px black;
	cursor: pointer;
	-webkit-transform:rotate(360deg) skew(0deg) scale(1.0) translate(10px,0);
	-moz-transform:rotate(360deg) skew(0deg) scale(1.0) translate(10px,0);
}
.header .nav .last_nav{
	margin-right: 0px;
}

/*中部*/

.container{
	width: 540px;
	margin: 50px auto 0 auto;
	min-height: 550px;
}
.container.admin{
	width: 580px;
}
.container .mod_archive_item{
	margin-bottom: 20px;
}
.container .mod_archive_item .mod_archive_year,.container .mod_archive_item .mod_archive_des{
	color: gray;
	font-size: 20px;
	margin-bottom: 20px;
}
.container .mod_archive_item .mod_archive_list{
	font-size: 14px;
	margin-left: 30px;
}
.container .mod_archive_item .mod_archive_list li{
	line-height: 30px;
	margin: 2px;
}
.container .mod_archive_item .mod_archive_list li .link_des{
	margin-left: 20px;
	font-size: 15px;
	color:gray;
}
.container .mod_archive_item .mod_archive_list .time{
	color: #666;
	font-family: Courier,Menlo,Monaco,Consolas,"Courier New",monospace;
}
.container .mod_archive_item .mod_archive_list li a{
	color: #555;
	text-decoration: underline;
	font-weight: 600;
}
